<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
	<title>Personal Profile</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/dashboard/{accountId}(accountId=${user.accountId})}">Social Bookstore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
                    <a class="nav-link active" aria-current="page" th:href="@{/dashboard/{accountId}(accountId=${user.accountId})}">Dashboard</a>
                    <a class="nav-link active" aria-current="page" th:href="@{/user/{accountId}/offers(accountId=${user.accountId})}">Offers</a>
                    <a class="nav-link active" aria-current="page" th:href="@{/user/{accountId}/requests(accountId=${user.accountId})}">Requests</a>
                    <a class="nav-link active" aria-current="page" th:href="@{/profile/{accountId}(accountId=${user.accountId})}">Profile</a>
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Log Out</a>
                
            </ul>
        </div>
    </div>
</nav>
<br />
<div class="container">
  <h4>Logged in as: <span sec:authentication="name"></span></h4>
  <hr> <br>
    <p>Name: <th:block th:text="${user.name}"></th:block> </p><br>
    <p>Adress: <th:block th:text="${user.adress}"></th:block> </p><br>
    <p>Phone: <th:block th:text="${user.phoneNumber}"></th:block> </p><br>
    <p>Age: <th:block th:text="${user.age}"></th:block> </p><br>
    <p>Favourite Categories: <th:block th:text="${user.categories}"></th:block> </p><br>
    <p>Favourite Authors: <th:block th:text="${user.authors}"></th:block> </p><br>
    <br>
    <a th:href="@{/update/{accountId}(accountId=${user.accountId})}" class="btn btn-primary btn-sm mb-3">Edit Profile</a>
    <a th:href="@{/dashboard/{accountId}(accountId=${user.accountId})}" class="btn btn-danger btn-sm mb-3">Back</a>

	<br> <br> <hr> <br> <br>
</div>
  
  
</body>
</html>